{ /* http://eslint.org/docs/rules/ */
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module"
    },
    "rules": {
        "func-names": ["error", "never"], 
        "comma-dangle": 0,
        // Example: enforce 4 white spaces indentation
        "indent": ["error", 4]
    }
}